.navbar.navbar-light.navbar-expand-md.navigation-clean.header {
  height: 140px;
}

.logo {
  height: 86px;
  width: 170px;
}

.navigation-clean {
  background: #dadada;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.nav-item {
  margin-top: -8px;
  margin-left: 35px;
  text-align: center;
  font-size: 20px;
}

.nav-item a:hover {
  color: #434343 !important;
  background-color: transparent;
  background-image: url(../../assets/img/imgNavHover.png);
  background-size: contain;
  height: 33px;
  width: 80px;
  margin-top: 5px;
  background-repeat: no-repeat;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-image: url(../../assets/img/imgNavBg.png);
  background-size: contain;
  margin: 100px 100px -14px 0px;
  height: 33px;
  width: 463.5px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0,0,0,.9);
  background-image: url(../../assets/img/imgNavHover.png);
  background-color: transparent;
  background-size: cover;
  height: 29px;
  margin-top: 6px;
}

.container.adbox {
  height: 531px;
}

.justify-content-center {
  justify-content: center!important;
}

